// @for $i from 1 through 7 {
//     .p-text-#{$i} {
//         background: url("./img/img_text_#{$i}.png");
//         background-size: 32px 136px;
//         width: 32px;
//         height: 136px;
//     }
// }

%img-rep {
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
}

.p-text-1 {
    background: url("./img/img_text_1.png");
    background-size: 32px 136px;
    width: 32px;
    height: 136px;
    @extend %img-rep;
}

.p-text-2 {
    background: url("./img/img_text_2.png");
    background-size: 62px 138px;
    width: 62px;
    height: 138px;
    @extend %img-rep;
}

.p-text-3 {
    background: url("./img/img_text_3.png");
    background-size: 61px 140px;
    width: 61px;
    height: 140px;
    @extend %img-rep;
}

.p-text-4 {
    background: url("./img/img_text_4.png");
    background-size: 64px 136px;
    width: 64px;
    height: 136px;
    @extend %img-rep;
}

.p-text-5 {
    background: url("./img/img_text_5.png");
    background-size: 60px 138px;
    width: 60px;
    height: 138px;
    @extend %img-rep;
}

.p-text-6 {
    background: url("./img/img_text_6.png");
    background-size: 30px 69px;
    width: 30px;
    height: 69px;
    @extend %img-rep;
}

.p-text-7 {
    background: url("./img/img_text_7.png");
    background-size: 31px 68px;
    width: 31px;
    height: 68px;
    @extend %img-rep;
}

.p-text-a {
    background: url("./img/img_text_a.png");
    background-size: 144px 151px;
    width: 144px;
    height: 151px;
    @extend %img-rep;
}

.p-text-b {
    background: url("./img/img_text_b.png");
    background-size: 125px 151px;
    width: 125px;
    height: 151px;
    @extend %img-rep;
}

.p-text-c {
    background: url("./img/img_text_c.png");
    background-size: 134px 158px;
    width: 134px;
    height: 158px;
    @extend %img-rep;
}

.p-text-d {
    background: url("./img/img_text_d.png");
    background-size: 128px 151px;
    width: 128px;
    height: 151px;
    @extend %img-rep;
}

.p-text-e {
    background: url("./img/img_text_e.png");
    background-size: 115px 151px;
    width: 115px;
    height: 151px;
    @extend %img-rep;
}

.p-text-f {
    background: url("./img/img_text_f.png");
    background-size: 108px 151px;
    width: 108px;
    height: 151px;
    @extend %img-rep;
}

.p-text-g {
    background: url("./img/img_text_g.png");
    background-size: 141px 159px;
    width: 141px;
    height: 159px;
    @extend %img-rep;
}

.p-text-flat {
    background: url("./img/img_text_flat.png");
    background-size: 31px 86px;
    width: 31px;
    height: 86px;
    @extend %img-rep;
}

.p-text-sharp {
    background: url("./img/img_text_sharp.png");
    background-size: 48px 71px;
    width: 48px;
    height: 71px;
    @extend %img-rep;
}

.p-text-string {
    background: url("./img/img_text_string.png");
    background-size: 74px 38px;
    width: 74px;
    height: 38px;
    @extend %img-rep;
}

.p-icon-count-on {
    background: url("./img/icon_count_on.png");
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
    @extend %img-rep;
}

.p-icon-count-off {
    background: url("./img/icon_count_off.png");
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
    @extend %img-rep;
}

.p-btn-play {
    background: url("./img/btn_play.png");
    background-size: 33px 37px;
    width: 33px;
    height: 37px;
    cursor: pointer;
    @extend %img-rep;
}

.p-btn-stop {
    background: url("./img/btn_stop.png");
    background-size: 33px 33px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    @extend %img-rep;
}